@import 'bootstrap/dist/css/bootstrap';

.search-area{
  padding-top: 15px;
}

.no-right-padding{
  padding-right: 0;
}

.no-left-padding{
  padding-left: 0;
}

.results-block{
  display: inline-block;
  margin-bottom: 10px;
}

.nav-btn{
  margin-left: 5px;
  margin-right: 5px;
}

